<div class="element" [style.border-left-color]="element.color" (click)="btn_click()">
  <div class="title_text" [style.color]="element.fontcolor">
    {{element.title}}
    <img src="../../../assets/icon/chevron-down-solid.svg" style="height: 20px; width: 20px;transform: translateY(15%)" alt="dropdown"
      *ngIf="element.dropdown=='true'">
  </div>
  <div class="coll_btn" *ngIf="element.btn=='true'">
    <img src={{btnIcon}} alt="btn" style=" height: 12px; width: 12px;">
  </div>
</div>
<div *ngIf="btnClick">
  <div class="child_panel" *ngFor="let child of element.children">
    <div class="child_element">
      {{child.name}}
    </div>
  </div>
  <div class="child_bottom" *ngIf="element.children!=undefine">
  </div>
</div>